$background = #fff
$foreground = rgba(0, 0, 0, .85)
$placeholder-foreground = rgba(0, 0, 0, .4)

$nav-background = #333
$nav-foreground = rgba(255, 255, 255, .7)
$nav-foreground-hover = #fff

$button-background = #777
$button-background-active = #555
$button-foreground = rgba(255, 255, 255, .9)
$accent-background = #55b722
$accent-background-active = #45a712
$accent-foreground = rgba(255, 255, 255, .9)

$footer-foreground = rgba(0, 0, 0, .6)
