@import '_vars'
@import '_util'

html
  background $background
  color $foreground
  font $base-font-size \/ $base-line-height $base-font-family

html
body
  margin 0

.container
  container()
  padding 0 16px

.inline-container
  container()

article
  clearfix()
  padding 0 16px

  p
    container()
    margin-top 1rem

  h1
    container()
    font-size 3rem
    line-height 1
    font-weight 200
    margin-top 3rem

    &:first-child
      margin-top 2rem

  h2
    container()
    font-size 2em
    line-height 1
    font-weight 200
    margin-top 3rem

  a
    color $foreground
    text-decoration underline

    &:hover
      color $link-foreground

  code
    font 0.8rem $code-font

  pre
    margin 1rem -16px 0

    > code
      overflow auto
      display block
      container()
      padding 16px
      background rgba(0, 0, 0, .05)

  input
  textarea
  .text-field
    -webkit-appearance none
    position relative
    border 0
    outline 0
    margin 1rem 0 0
    border 1px solid rgba(0, 0, 0, .1)
    width 100%
    box-sizing border-box
    padding 0 8px
    height 2rem
    font 1rem \/ @height $base-font-family

    &.large
      height 2.5rem
      font-size 1.2rem
      margin .25em 0
      line-height @height

    &:focus
    &.focused
      z-index 1
      border-color rgba(0, 0, 0, .2)

    &:disabled
    &.disabled
      color rgba(0, 0, 0, .4)

  textarea
    display block
    padding 4px 8px
    min-height 3.5rem
    line-height 1.5
    resize none

  .text-editor
    position relative

    > .editor-metrics
      position absolute
      top -9999px
      left -9999px
      width 100%
      box-sizing border-box
      padding 4px 8px
      border 1px solid transparent
      visibility hidden
      white-space pre-wrap
      word-wrap break-word
      line-height 1.5

  .tags-editor
    cursor text
    height auto
    min-height 1.4rem
    font-size 0.7rem
    line-height 1.4
    overflow hidden

    > .tags
      display inline
      pointer-events none

      > .tag
        vertical-align: middle
        margin 0.28rem 8px 0.28rem 0

    > input
    > .metrics
      invisible-input()
      display inline-block
      vertical-align: middle

      height 1.5em
      margin 0.28rem 8px 0.28rem 0
      padding 2px 8px

      line-height 1
      font inherit
      font-weight 200
      letter-spacing: 0.02em;

      &.nonempty
        background #f5f5f5

    > .metrics
      position absolute
      top -9999px
      left -9999px
      visibility hidden

  button
  .button
    -webkit-appearance none
    display inline-block
    cursor pointer
    border 0
    outline 0
    margin 1rem 0 0
    width 100%
    box-sizing border-box
    padding 0 8px
    height 2rem
    font 200 1rem \/ @height $base-font-family
    letter-spacing 0.05em
    background $button-background
    color $button-foreground
    text-decoration none
    text-align center
    vertical-align top

    &.large
      font-size 1.2rem
      height 2.5rem

    &:focus
      box-shadow inset 0 0 0 1px rgba(0, 0, 0, .2)

    &:hover
      box-shadow $button-hover-shadow
      color $button-foreground

    &:active
      background $button-background-active
      box-shadow $button-press-shadow
      padding-top 2px

    &.accent
      background $accent-background
      color $accent-foreground

      &:hover
        color $accent-foreground

      &:active
        background $accent-background-active

    &.right
      width 200px
      float right

      @media (max-width: 400px)
        width: 100%
        float none

  .two-buttons
    container()
    box-sizing border-box
    padding-right 16px
    white-space nowrap

    button
    .button
      width 50%
      margin-right 16px

    @media (max-width: 500px)
      padding-right 0

      button
      .button
        display block
        width 100%

  .stat
    width 48px
    height 48px
    padding 0
    margin 0
    text-align center
    position relative
    line-height @height - 12
    display inline-block
    color rgba(0, 0, 0, .6)

    > strong
      position absolute
      left 0
      right 0
      bottom 8px
      display block
      font-weight 200
      font-size 0.6rem
      line-height 1

  .error
    color $error
