@import '_vars'
@import '_util'

html
  background $background
  color $foreground
  font $base-font-size/$base-line-height $base-font-family

html
body
  margin 0

.container
  container()
  padding 0 16px

article
  clearfix()
  padding 0 16px

  p
    container()
    margin-top 1rem

  h1
    container()
    font-size 3rem
    line-height 1
    font-weight 200
    margin-top 3rem

    &:first-child
      margin-top 2rem

  h2
    container()
    font-size 2em
    line-height 1
    font-weight 200
    margin-top 3rem
