@import '_vars'

.carousel
  margin 0 -16px
  cursor pointer
  white-space nowrap
  overflow-x scroll
  overflow-y hidden

  > a
    color $foreground
    text-decoration none
    padding 16px
    // margin-right -16px
    display inline-block

    > img
      width 160px
      height 120px
      display block
      -webkit-user-drag none
      background rgba(0, 0, 0, .05)

    &:hover
    &:focus
      > .label
        text-decoration underline
