@import '_vars'
@import '_util'

.tag-bar
  margin-top 1rem

.discuss-bar
  margin-top .5rem
  position relative
  height 2rem

  .input-wrapper
    position absolute
    top 0
    left 0
    right 0

  &.signed-in .input-wrapper
    right 8rem

  input
    margin 0
    font-size 1rem
    height 2rem
    line-height @height

  .button
    position absolute
    top 0
    right 0
    margin 0
    width 7rem

.topic
  container()
  position relative
  display block
  margin-top 1rem

  font-weight 200

  .title
    display block
    padding-left 24px
    line-height 1.2
    font-weight 500

    > img
      width 2.4rem
      height 2.4rem
      margin-right 8px
      float left
      -webkit-user-drag none
      background rgba(0, 0, 0, .05)

    .name
      font-weight @font-weight
      margin-right 16px

  .subtitle
    display block
    padding-left 24px
    font-size 0.8rem
    color rgba(0, 0, 0, .5)

    a
      color $foreground

  .read
    position absolute
    height 100%
    width 24px

    background 0
    padding 0
    margin 0
    border-right 8px solid transparent
    border-left @border-right
    box-shadow inset 8px 0 rgba(0, 0, 0, .3)
    visibility hidden

    &:hover
      box-shadow inset 8px 0 rgba(0, 0, 0, .4)

    &:active
      box-shadow inset 8px 0 rgba(0, 0, 0, .5)

  &.unread .read
    visibility visible

  &.hidden
    opacity .4

  .stat
    float right
    color rgba(0, 0, 0, .4)
  &:hover .stat
    color rgba(0, 0, 0, .9)

  .star
    float right
    width 2.4rem
    height 2.4rem
    line-height @height
    text-align center
    color rgba(0, 0, 0, .1)
    cursor pointer

    background 0
    box-shadow none
    padding 0
    margin 0
    opacity 0

    &:hover
      color rgba(0, 0, 0, .2)

    &:active
      color rgba(0, 0, 0, .3)

    &::before
      // content '☆'
      content '★'
      font-size 1.4rem

  &:hover .star
    opacity 1

  &.starred
    &:hover .star
      color rgba(0, 0, 0, .5)

    .star
      opacity 1
      color rgba(0, 0, 0, .3)

      &:hover
        color rgba(0, 0, 0, .7)

      &:active
        color rgba(0, 0, 0, .5)

  a
    text-decoration none

    &:hover
      text-decoration underline
      color $link-foreground
