@import '_vars'

footer
  container()
  margin-top 3rem
  padding 0 16px 16px

  font-size 0.7rem
  font-weight 200
  letter-spacing 0.05em
  color $footer-foreground

  p
    margin 0

  a
    padding 0 12px
    float right
    color $footer-foreground
    text-decoration none

    &:first-child
      margin-right: -12px

    &:hover
      color #58d
      text-decoration underline
