@import '_util'

.project-subtitle
  container()

.project
  container()
  margin-top 1rem
  position relative

  .player
    -webkit-user-drag none
    margin 0 auto
    display block
    width 480px
    height 360px

  .controls
  .stats
    position absolute
    height 48px * 3
    width 48px
    top ((360px - @height) / 2)

  .controls
    right 50%
    margin-right 256px

  .stats
    left 50%
    margin-left 256px

  .stats
    text-align center

  button
  .stat
    width 48px
    height 48px
    padding 0
    margin 0
    text-align center
    position relative
    line-height @height - 12
    display inline-block

  button
    box-shadow none !important
    background url(/icons.svg) !important
    opacity .3

    &:hover
      opacity .4
    &:active
      opacity .6

  .stop
    background-position -48px 0 !important

  .full-screen
    float right
    background-position -96px 0 !important

  .stat
    color rgba(0, 0, 0, .6)

    > strong
      position absolute
      left 0
      right 0
      bottom 8px
      display block
      font-weight 200
      font-size 0.6rem
      line-height 1

  .notes
    margin 1rem 0 0

  @media (max-width: 650px)
    .controls
    .stats
      position static
      width 480px
      height 48px
      float none
      margin 0 auto
