@import '_vars'
@import '_util'

.splash
  clearfix()
  container()

  .left
    width 19rem
    float left

  .right
    margin-top 2rem
    width $page-width - 19rem - 2rem
    float right

  @media (max-width: 800px)
    .left, .right
      float none
      margin-left auto
      margin-right auto
      max-width 100%

  input
    -webkit-appearance none
    position relative
    border 0
    margin .25em 0
    border 1px solid rgba(0, 0, 0, .1)
    width 100%
    box-sizing border-box
    padding 0 8px
    height 2.5rem
    font 1.2rem / @height $base-font-family

    &:focus
      z-index 1

  button
    -webkit-appearance none
    cursor pointer
    border 0
    margin 1rem 0 0
    width 100%
    box-sizing border-box
    padding 0 8px
    height 2.5rem
    font 200 1.2rem / @height $base-font-family
    letter-spacing 0.05em
    background $accent-background
    color $accent-foreground
