@import '_util'

.post
  container()
  margin-top 1rem
  margin-bottom 2rem
  position relative
  padding-left 64px
  box-sizing border-box

  &.pending
    opacity .4

  &:hover > .author > .menu
    opacity .4

  > .author
    margin-bottom 8px
    font-size 0.8rem
    color rgba(0, 0, 0, .5)
    font-weight 200

    a
      text-decoration none

      &:hover
        text-decoration underline

    > .menu
      background 0
      padding 8px
      margin 0 -8px 0 8px
      width auto
      height auto
      box-shadow none
      display inline-block
      vertical-align baseline
      opacity 0
      color #000
      font-size .8rem
      line-height 1

      &:hover
        opacity .6
      &:active
        opacity .8

  > img
    width 48px
    height 48px
    position absolute
    left 0
    top 0
    margin .25rem 8px 0 0
    float left
    -webkit-user-drag none
    background rgba(0, 0, 0, .05)

  p
    margin-top 0
    margin-bottom 1rem
