/* Hosting */

.amber-host {
  position: relative;
  background: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;

  -webkit-transform: translateZ(0);
}
html.amber-host {
  height: 100%;
}
html.amber-host > body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.amber-hosted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* App */

.amber,
.amber-wrap button {
  font: 300 16px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.amber header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background: #333;
  z-index: 1;
}
.amber header a {
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 1px #222;
  padding: 0 8px;
  text-decoration: none;
}
.amber header a:hover {
  background: #444;
  box-shadow: 0 1px 2px #222;
}
.amber header a:active {
  color: #aaa;
  background: #222;
  box-shadow: inset 0 2px 3px #000;
}

.amber-wrap {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 16px 40px;
  overflow: auto;
}
.amber article {
  position: relative;
  min-height: 100%;

  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.amber article::before,
.amber article::after,
.amber .splash section > div::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: -1px;
  clear: both;
}
.amber-wrap h1,
.amber-wrap h2,
.amber-wrap h3,
.amber-wrap h4,
.amber-wrap h5,
.amber-wrap h6,
.amber-wrap section,
.amber-wrap p,
.amber-wrap pre,
.amber-wrap ul,
.amber-wrap ol {
  max-width: 720px;
}

.amber-wrap a,
.amber .splash a h1 {
  text-decoration: none;
  color: #05d;
  cursor: pointer;
}
.amber-wrap a:visited,
.amber a.block:visited h1 {
  color: #50a;
}
.amber-wrap a.black,
.amber a.block h1.black {
  color: #000;
  font-weight: bold;
}
.amber-wrap a.subtle,
.amber-wrap a.subtle:hover,
.amber-wrap a.subtle:active {
  text-decoration: none;
  color: #000;
}
.amber-wrap a:hover,
.amber-wrap a:visited:hover,
.amber .splash a:hover h1,
.amber a.block:hover h1 {
  text-decoration: underline;
  color: #05d;
}
.amber-wrap a:active,
.amber-wrap a:visited:active,
.amber .splash a:active h1,
.amber a.block:active h1 {
  text-decoration: underline;
  color: #028;
}

.amber a.block,
.amber .splash a {
  color: #000 !important;
  display: block;
}
.amber a.block:hover,
.amber a.block:active,
.amber .splash a:hover,
.amber .splash a:active {
  text-decoration: none;
}
.amber-wrap a.block h1,
.amber .splash a h1 {
  margin: 0;
  font: inherit;
}

.amber-wrap h1,
.amber-wrap h2,
.amber-wrap h3,
.amber-wrap h4,
.amber-wrap h5,
.amber-wrap h6 {
  margin: 24px auto 16px;
  font-size: 36px;
  line-height: 40px;
}
.amber-wrap h2 {
  font-size: 30px;
  line-height: 34px;
}
.amber-wrap h3 {
  font-size: 24px;
  line-height: 32px;
}
.amber-wrap h4 {
  font-size: 20px;
  line-height: 28px;
}
.amber-wrap h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.amber-wrap h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.amber-wrap section,
.amber-wrap p,
.amber-wrap pre,
.amber-wrap ul,
.amber-wrap ol {
  margin: 0 auto 16px;
}
.amber-wrap pre {
  max-height: 300px;
  overflow: auto;
  background: #eee;
  padding: 12px;
}
.amber-wrap pre,
.amber-wrap code {
  font: 13px/1.15 Menlo, Monaco, Consolas, Courier New, monospace;
}
.amber-wrap button {
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;

  background: #555;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 8px;
  cursor: pointer;
}
.amber-wrap button.small {
  padding: 2px 6px;
}
.amber-wrap button:hover {
  background: #666;
}
.amber-wrap button:active {
  background: #444;
}
.amber-wrap button.light {
  background: #ccc;
  color: #000;
}
.amber-wrap button.light:hover {
  background: #ddd;
}
.amber-wrap button.light:active {
  background: #aaa;
}

.amber-wrap .md-image {
  max-width: 100%;
  vertical-align: text-bottom;
}
.amber-wrap .md-emoticon {
  width: 16px;
  height: 16px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
}
.amber-wrap .md-emoticon.smile {
  background: url(/static/img/emoticon/smile.svg);
}
.amber-wrap .md-emoticon.wink {
  background: url(/static/img/emoticon/wink.svg);
}
.amber-wrap .md-emoticon.wide-eyed {
  background: url(/static/img/emoticon/wide-eyed.svg);
}
.amber-wrap .md-emoticon.big-smile {
  background: url(/static/img/emoticon/big-smile.svg);
}
.amber-wrap .md-emoticon.slant {
  background: url(/static/img/emoticon/slant.svg);
}
.amber-wrap .md-emoticon.tongue {
  background: url(/static/img/emoticon/tongue.svg);
}
.amber-wrap .md-emoticon.neutral {
  background: url(/static/img/emoticon/neutral.svg);
}
.amber-wrap .md-emoticon.frown {
  background: url(/static/img/emoticon/frown.svg);
}
.amber-wrap .md-emoticon.cry {
  background: url(/static/img/emoticon/cry.svg);
}
.amber-wrap .md-emoticon.confused {
  background: url(/static/img/emoticon/confused.svg);
}
.amber-wrap .md-emoticon.big-frown {
  background: url(/static/img/emoticon/big-frown.svg);
}
.amber-wrap .md-emoticon.heart {
  background: url(/static/img/emoticon/heart.svg);
}
.amber-wrap .md-error {
  color: #f00;
}
.amber-wrap .md-email {
  display: none;
}

.amber footer {
  position: relative;
  margin: 0 0 -40px;
  padding: 8px;
  z-index: 1;
  text-align: center;
}
.amber footer a,
.amber footer a:visited {
  display: inline-block;
  padding: 4px 8px;
  margin: -4px 0;
  color: #555;
}
.amber footer a:active {
  color: #000;
}

/* Splash */

.amber .splash h1 {
  font-size: 96px;
  line-height: 96px;
  margin-top: 48px;
}
.amber .splash section {
  overflow: hidden;
}
.amber .splash section > div {
  margin: 0 -48px 0 -16px;
}
.amber .splash a {
  display: block;
  float: left;
  width: 33.33%;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  margin: -16px -16px 0 0;
}
.amber .splash a p {
  margin: 0;
}

@media screen and (max-width: 752px) {
  .amber .splash section > div {
    margin: 0 -32px 0 -16px;
  }
  .amber .splash a {
    width: 49.99%;
  }
}

@media screen and (max-width: 532px) {
  .amber .splash section > div {
    margin: 0 -16px;
  }
  .amber .splash a {
    width: 100%;
  }
}

@media screen and (max-width: 372px) {
  .amber .splash > h1 {
    font-size: 72px;
    line-height: 72px;
    margin-top: 24px;
  }
}

/* Carousels */

.amber .carousel {
  margin: 0 -16px;
  max-width: none;
  position: relative;
}
.amber .carousel button {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 152px;
  padding: 0;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  color: #000;
}
.amber .carousel button.right {
  left: auto;
  right: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}
.amber .carousel button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  background: url(/static/img/carousel/left.svg) center center no-repeat;
}
.amber .carousel button.right::before {
  background-image: url(/static/img/carousel/right.svg);
}
.amber .carousel button:hover::before {
  opacity: .5;
}
.amber .carousel button:active::before {
  opacity: .7;
}
.amber .carousel-content {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px 48px 16px 64px;
  white-space: nowrap;
}
.amber .carousel a {
  display: inline-block;
  margin: 0 16px 0 0;
}
.amber .carousel img {
  width: 120px;
  height: 90px;
}
.amber .carousel p {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
