/* Hosting */

.amber-host {
  position: relative;
  background: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;

  -webkit-transform: translateZ(0);
}
html.amber-host {
  height: 100%;
}
html.amber-host > body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.amber-hosted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* view.App */

.amber,
.amber-wrap button {
  font: 300 16px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.amber header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background: #333;
  z-index: 1;
}
.amber header a {
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 1px #222;
  padding: 0 8px;
  text-decoration: none;
}
.amber header a:hover {
  background: #444;
  box-shadow: 0 1px 2px #222;
}
.amber header a:active {
  color: #aaa;
  background: #222;
  box-shadow: inset 0 2px 3px #000;
}

.amber-wrap {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 16px 40px;
  overflow: auto;
}
.amber article {
  position: relative;
  min-height: 100%;

  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.amber article::before,
.amber article::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: -1px;
  clear: both;
}
.amber-wrap h1,
.amber-wrap h2,
.amber-wrap h3,
.amber-wrap h4,
.amber-wrap h5,
.amber-wrap h6,
.amber-wrap section,
.amber-wrap p,
.amber-wrap pre,
.amber-wrap ul,
.amber-wrap ol {
  max-width: 720px;
}

.amber-wrap a {
  text-decoration: none;
  color: #05d;
  cursor: pointer;
}
.amber-wrap a.black {
  color: #000;
  font-weight: bold;
}
.amber-wrap a.subtle,
.amber-wrap a.subtle:hover,
.amber-wrap a.subtle:active {
  text-decoration: none;
  color: #000;
}
.amber-wrap a:hover {
  text-decoration: underline;
  color: #05d;
}
.amber-wrap a:active {
  text-decoration: underline;
  color: #028;
}
.amber-wrap h1,
.amber-wrap h2,
.amber-wrap h3,
.amber-wrap h4,
.amber-wrap h5,
.amber-wrap h6 {
  margin: 24px auto 16px;
  font-size: 36px;
  line-height: 40px;
}
.amber-wrap h2 {
  font-size: 30px;
  line-height: 34px;
}
.amber-wrap h3 {
  font-size: 24px;
  line-height: 32px;
}
.amber-wrap h4 {
  font-size: 20px;
  line-height: 28px;
}
.amber-wrap h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.amber-wrap h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.amber-wrap section,
.amber-wrap p,
.amber-wrap pre,
.amber-wrap ul,
.amber-wrap ol {
  margin: 0 auto 16px;
}
.amber-wrap pre {
  max-height: 300px;
  overflow: auto;
  background: #eee;
  padding: 12px;
}
.amber-wrap pre,
.amber-wrap code {
  font: 13px/1.15 Menlo, Monaco, Consolas, Courier New, monospace;
}
.amber-wrap button {
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;

  background: #555;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 8px;
  cursor: pointer;
}
.amber-wrap button.small {
  padding: 2px 6px;
}
.amber-wrap button:hover {
  background: #666;
}
.amber-wrap button:active {
  background: #444;
}
.amber-wrap button.light {
  background: #ccc;
  color: #000;
}
.amber-wrap button.light:hover {
  background: #ddd;
}
.amber-wrap button.light:active {
  background: #aaa;
}

.amber-wrap .md-image {
  max-width: 100%;
  vertical-align: text-bottom;
}
.amber-wrap .md-emoticon {
  width: 16px;
  height: 16px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  vertical-align: text-bottom;
}
.amber-wrap .md-emoticon.smile {
  background: url(/static/img/emoticon/smile.svg);
}
.amber-wrap .md-emoticon.wink {
  background: url(/static/img/emoticon/wink.svg);
}
.amber-wrap .md-emoticon.wide-eyed {
  background: url(/static/img/emoticon/wide-eyed.svg);
}
.amber-wrap .md-emoticon.big-smile {
  background: url(/static/img/emoticon/big-smile.svg);
}
.amber-wrap .md-emoticon.slant {
  background: url(/static/img/emoticon/slant.svg);
}
.amber-wrap .md-emoticon.tongue {
  background: url(/static/img/emoticon/tongue.svg);
}
.amber-wrap .md-emoticon.neutral {
  background: url(/static/img/emoticon/neutral.svg);
}
.amber-wrap .md-emoticon.frown {
  background: url(/static/img/emoticon/frown.svg);
}
.amber-wrap .md-emoticon.cry {
  background: url(/static/img/emoticon/cry.svg);
}
.amber-wrap .md-emoticon.confused {
  background: url(/static/img/emoticon/confused.svg);
}
.amber-wrap .md-emoticon.big-frown {
  background: url(/static/img/emoticon/big-frown.svg);
}
.amber-wrap .md-emoticon.heart {
  background: url(/static/img/emoticon/heart.svg);
}
.amber-wrap .md-error {
  color: #f00;
}
.amber-wrap .md-email {
  display: none;
}

.amber footer {
  position: relative;
  margin: 0 0 -40px;
  padding: 8px;
  z-index: 1;
  text-align: center;
}
.amber footer a {
  display: inline-block;
  padding: 4px 8px;
  margin: -4px 0;
  color: #555;
}
.amber footer a:active {
  color: #000;
}
